* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: 'montserratregular';
}

main {
    flex-grow: 1;
}

.container {
    width: 1110px;
    margin: 0 auto;
    position: relative;
}

/*---------------section delivery--------------*/
.delivery {
    background: #212121;
    color: #ffffff;
}

.delivery .container {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 69px;
}

.delivery h2 {
    font-size: 30px;
    margin-bottom: 13px;
}

.delivery h2 span {
    font-weight: normal;
}

.delivery p {
    font-size: 21px;
}

/*----------------------section-man-woman---------------------*/
.man-woman .container {
    display: flex;
    flex-direction: row;
}

.man,
.woman {
    width: 50%;
    padding-top: 60px;
    padding-bottom: 58px;
}

.man-woman h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.man-woman h2 span {
    font-weight: normal;
}

.man-woman a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7B399;
    width: 80px;
    height: 30px;
    margin-top: 40px;
}

.man-woman a:hover,
.man-woman a:focus {
    background-color: #ff9950;
}

.man {
    background: url(../img/man.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.woman {
    padding-left: 35px;
    background: url(../img/woman.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.man-woman {
    background: linear-gradient(90deg, #F9F6F1 0%, #F9F6F1 0%, #F9F6F1 50%, #F9E0E0 50%, #F9E0E0 100%, #ffffff 100%);
}

/*---------------section-header---------------*/
.header {
    min-height: 120px;
    background-color: #F9F6F1;
}

.header-menu {
    min-height: 90px;
}

.section_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
}

.mainmenu_list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo h2 {
    display: flex;
    flex-direction: row;
}

.basket_list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

ul {
    list-style: none;
}

.mainmenu_list a {
    text-decoration: none;
    color: black;
}

.mainmenu_list a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

/*------------------------------section-new------------------------------*/

.news .container {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
}

.new__title {
    font-size: 36;
    text-transform: uppercase;
}

.new__btn {
    width: 220px;
    height: 50px;
    background: #D7B399;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.new__btn:hover,
.new__btn:focus {
    background-color: #7e583c;
}

.catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card {
    border: 1px solid #D7B399;
    padding: 22px 25px 25px;
    position: relative;
}

.card__title {
    font-size: 14px;
    font-weight: 600px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 71px;
    margin-right: 71px;
}

.card__price {
    font-size: 18px;
    color: #D7B399;
    font-weight: bold;
}

/* .card:nth-child(2) {
    position: sticky;
    top: 200px;
    left: 300px;
} */

.bi-bi-bookmark {
    position: absolute;
    top: 12px;
    right: 15px;
    fill: #D7B399;
    z-index: 10;
}

.bi-bi-bookmark:hover,
.bi-bi-bookmark:focus {
    fill: #7e583c;
}

.pic {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}